<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="DesktopToastsSetupProject" Language="1033" Version="1.0.0.0" Manufacturer="Windows Notifications" UpgradeCode="6caa739c-3036-4aa7-a7a3-bc7edb850aef">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />

        <Feature Id="ProductFeature" Title="DesktopToastsSetupProject" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="DesktopToastsSetupProject" />
            </Directory>
            <Directory Id="ProgramMenuFolder">
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <DirectoryRef Id="ProgramMenuFolder">
            <Component Id="ApplicationShortcut" Guid="c7a62885-eb05-40ee-9351-20cce2092d00">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="Desktop Toasts" Description="Desktop Toasts Sample" Target="[INSTALLFOLDER]DesktopToastsApp.exe" WorkingDirectory="INSTALLFOLDER">

                    <!--AUMID-->
                    <ShortcutProperty Key="System.AppUserModel.ID" Value="WindowsNotifications.DesktopToasts"/>

                    <!--COM CLSID, specifying which CLSID to activate when toast clicked-->
                    <ShortcutProperty Key="System.AppUserModel.ToastActivatorCLSID" Value="{50cfb67f-bc8a-477d-938c-93cf6bfb3320}"/>

                </Shortcut>

                <RemoveFile Id="RemoveApplicationShortcut" Directory="ProgramMenuFolder" Name="Desktop Toasts" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\DesktopToasts" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
            <!-- <Component Id="ProductComponent"> -->
            <!-- TODO: Insert files, registry keys, and other resources here. -->
            <!-- </Component> -->
            <Component Id="DesktopToastsApp.exe" Guid="53c731ab-8f18-4e42-9cd2-cfcc7ad62a52">
                <File Id="DesktopToastsApp.exe" Name="DesktopToastsApp.exe" Source="$(var.DesktopToastsApp.TargetDir)DesktopToastsApp.exe"/>

                <RegistryKey Root="HKCR"
                 Key="desktopToasts"
                 Action="createAndRemoveOnUninstall">
                    <RegistryValue Type="string" Name="URL Protocol" Value=""/>
                    <RegistryValue Type="string" Value="URL:Desktop Toasts protocol"/>
                    <RegistryKey Key="DefaultIcon">
                        <RegistryValue Type="string" Value="DesktopToastsApp.exe" />
                    </RegistryKey>
                    <RegistryKey Key="shell\open\command">
                        <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]DesktopToastsApp.exe&quot; &quot;%1&quot;" />
                    </RegistryKey>
                </RegistryKey>
            </Component>
            <Component Id="Microsoft.Toolkit.Uwp.Notifications.dll" Guid="fd08f63d-48d6-4bac-a3d4-f788af135ae7">
                <File Id="Microsoft.Toolkit.Uwp.Notifications.dll" Name="Microsoft.Toolkit.Uwp.Notifications.dll" Source="$(var.DesktopToastsApp.TargetDir)Microsoft.Toolkit.Uwp.Notifications.dll"/>
            </Component>
            <Component Id="QueryString.NETCore.dll" Guid="16817a82-b30c-4cc6-acf4-a68055c6016a">
                <File Id="QueryString.NETCore.dll" Name="QueryString.NETCore.dll" Source="$(var.DesktopToastsApp.TargetDir)QueryString.NETCore.dll"/>
            </Component>
            <Component Id="System.Xml.ReaderWriter.dll" Guid="79cb87d7-96c9-4d21-915b-8472963b195f">
                <File Id="System.Xml.ReaderWriter.dll" Name="System.Xml.ReaderWriter.dll" Source="$(var.DesktopToastsApp.TargetDir)System.Xml.ReaderWriter.dll"/>
            </Component>

            <!--Tell WiX to install the shortcut-->
            <ComponentRef Id="ApplicationShortcut"/>
        </ComponentGroup>
    </Fragment>
</Wix>
