<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="DesktopToastsComSetupProject" Language="1033" Version="1.0.0.0" Manufacturer="Windows Notifications" UpgradeCode="4be4d374-768e-48e3-8035-0d5476fdf2d2">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />

        <Feature Id="ProductFeature" Title="DesktopToastsComSetupProject" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="DesktopToastsComSetupProject" />
            </Directory>
            <Directory Id="ProgramMenuFolder">
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <DirectoryRef Id="ProgramMenuFolder">
            <Component Id="ApplicationShortcut" Guid="cab7a51a-c2c3-49d8-ab6e-f7bb38fd7f57">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="Desktop Toasts COM" Description="Desktop Toasts COM Sample" Target="[INSTALLFOLDER]DesktopToastsApp.exe" WorkingDirectory="INSTALLFOLDER">
                  
                    <!--AUMID-->
                    <ShortcutProperty Key="System.AppUserModel.ID" Value="WindowsNotifications.DesktopToastsCom"/>

                    <!--COM CLSID, specifying which CLSID to activate when toast clicked-->
                    <ShortcutProperty Key="System.AppUserModel.ToastActivatorCLSID" Value="{658a651e-47a9-4ef5-9add-a0577a66dd4c}"/>

                </Shortcut>

                <RemoveFile Id="RemoveApplicationShortcut" Directory="ProgramMenuFolder" Name="Desktop Toasts COM" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\DesktopToastsCom" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
            <!-- <Component Id="ProductComponent"> -->
            <!-- TODO: Insert files, registry keys, and other resources here. -->
            <!-- </Component> -->
            <Component Id="DesktopToastsApp.exe" Guid="1c665c21-c583-408c-aef9-a13491895e88">
                <File Id="DesktopToastsApp.exe" Name="DesktopToastsApp.exe" Source="$(var.DesktopToastsApp.TargetDir)DesktopToastsApp.exe"/>

                <RegistryKey Root="HKCR"
                 Key="desktopToastsCom"
                 Action="createAndRemoveOnUninstall">
                    <RegistryValue Type="string" Name="URL Protocol" Value=""/>
                    <RegistryValue Type="string" Value="URL:Desktop Toasts COM protocol"/>
                    <RegistryKey Key="DefaultIcon">
                        <RegistryValue Type="string" Value="DesktopToastsApp.exe" />
                    </RegistryKey>
                    <RegistryKey Key="shell\open\command">
                        <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]DesktopToastsApp.exe&quot; &quot;%1&quot;" />
                    </RegistryKey>
                </RegistryKey>
            </Component>
            <Component Id="Microsoft.Toolkit.Uwp.Notifications.dll" Guid="072a6509-8522-412c-ae32-0dda934e99a6">
                <File Id="Microsoft.Toolkit.Uwp.Notifications.dll" Name="Microsoft.Toolkit.Uwp.Notifications.dll" Source="$(var.DesktopToastsApp.TargetDir)Microsoft.Toolkit.Uwp.Notifications.dll"/>
            </Component>
            <Component Id="QueryString.NETCore.dll" Guid="e0baeb94-7368-40d6-89d5-3e803024925d">
                <File Id="QueryString.NETCore.dll" Name="QueryString.NETCore.dll" Source="$(var.DesktopToastsApp.TargetDir)QueryString.NETCore.dll"/>
            </Component>
            <Component Id="System.Xml.ReaderWriter.dll" Guid="6fd0ef34-c8b1-462c-a36b-93c5e6be5ebc">
                <File Id="System.Xml.ReaderWriter.dll" Name="System.Xml.ReaderWriter.dll" Source="$(var.DesktopToastsApp.TargetDir)System.Xml.ReaderWriter.dll"/>
            </Component>

            <!--Tell WiX to install the shortcut-->
            <ComponentRef Id="ApplicationShortcut"/>
        </ComponentGroup>
    </Fragment>
</Wix>
